

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: #E5E5E5;
}


/* side navigation menu */

nav ul{
    margin: 0;
    padding: 0;
    height:100%;
    width: 260px;
    position: fixed;
    list-style-type: none;
    top: 0;
    left: 0;
    background-color: #F7F6FF;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    font-family: 'Montserrat';
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    color: #fff;
    position: relative;
    padding: 25px 0 25px 25px;
    
}

nav ul li a:before {
    content: '';
    position: absolute;
    top:0;
    right: 0;
    width: 0;
    height: 100%;
    background: white;
    border-radius: 40px 0 0 40px;
    z-index: -1;
    transition: all 300ms ease-in-out;
    vertical-align: middle;

}

nav ul li a:hover{
    color: #FFFFFF;;

}

nav ul li a:hover{
    
}

nav ul li a:hover:before{
    width: 95%;
}

.wrapper {
    margin-left: 260px;
}

.section {
    display: grid;
    place-items: center;
    min-height: 100vh;
    text-align:center;
}

.logo{
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 25px auto;
    text-align: center;
}

.logo img {
    width: 100px;
}